<div id="absolute-wrapper">
  <div class="div-1">
    <p class="p-1"></br><strong>What are you in the mood for?</strong></p>
    <p class="p-2">(note: only parks with all of the selected activities will show
      up)</p>
      <label id="hiking" class="checkbox checkbox-1  unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span id="hiking#2">Hiking</span>
      </label>
      <label id="swimming" class="checkbox checkbox-1 unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Swimming</span>
      </label>
      <label id="sledding" class="checkbox checkbox-1 unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Sledding</span>
      </label>
      <label id="baseballslashsoftball" class="checkbox checkbox-1  unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Baseball</span>
      </label>
      <label id="cross-country_skiing" class="checkbox checkbox-1  unselected">
        <input type="checkbox"  class="activitybutton" value="">
        <span class="">X-Country Skiing</span>
      </label>
      <label id="fishing" class="checkbox checkbox-1 unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Fishing</span>
      </label>
      <label id="picnicking" class="checkbox checkbox-1  unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Picnicking</span>
      </label>
      <label id="soccer" class="checkbox checkbox-1  unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Soccer</span>
      </label>
      <label id="biking" class="checkbox checkbox-1  unselected">
        <input type="checkbox"  class="activitybutton" value="">
        <span class="">Biking</span>
      </label>
      <label id="ice_skating" class="checkbox checkbox-1 unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Ice Skating</span>
      </label>
      <label id="play_equipment" class="checkbox checkbox-1 unselected">
        <input type="checkbox"  class="activitybutton" value="">
        <span class="">Play Equipment</span>
      </label>
      <label id="basketball" class="checkbox checkbox-1 unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Basketball</span>
      </label>
      <label id="boat_rental" class="checkbox checkbox-1 unselected">
        <input type="checkbox"  class="activitybutton" value="">
        <span class="">Boat Rental</span>
      </label>
      <label id="tennis" class="checkbox checkbox-1 unselected">
        <input type="checkbox" class="activitybutton" value="">
        <span class="">Tennis</span>
      </label>
      <label id="volleyball" class="checkbox checkbox-1 unselected">
        <input type="checkbox"  class="activitybutton" value="">
        <span class="">Volleyball</span>
      </label>
    </div>
    <div id="map_canvas" class="container-empty container-empty-1"></div>
    <div class="container-empty container-empty-2"></div>
  </div>
  <div class="container" style="display: absolute-wrapper;"></div>
</div>