<div id="absolute-wrapper">
  <div class="div-1">
    <p class="p-1">What are you in the mood for?</p>
    <p class="p-2">(note: only parks with all of the selected activities will show
      up)</p>
      <label id="Hiking" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Hiking</span>
      </label>
      <label id="Swimming" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Swimming</span>
      </label>
      <label id="Sledding" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Sledding</span>
      </label>
      <label id="Baseball" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Baseball</span>
      </label>
      <label id="XCountrySkiing" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">X-Country Skiing</span>
      </label>
      <label id="Fishing" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Fishing</span>
      </label>
      <label id="Picnicking" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Picnicking</span>
      </label>
      <label id="Soccer" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Soccer</span>
      </label>
      <label id="Biking" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Biking</span>
      </label>
      <label id="IceSkating" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Ice Skating</span>
      </label>
      <label id="PlayEquipment" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Play Equipment</span>
      </label>
      <label id="Basketball" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Basketball</span>
      </label>
      <label id="BoatRental" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Boat Rental</span>
      </label>
      <label id="Tennis" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Tennis</span>
      </label>
      <label id="Volleyball" class="checkbox checkbox-1 activitybutton unselected">
        <input type="checkbox" value="">
        <span class="">Volleyball</span>
      </label>
    </div>
    <div id="map_canvas" class="container-empty container-empty-1"></div>
    <div class="container-empty container-empty-2"></div>
  </div>
  <div class="container" style="display: inline-block;"></div>
</div>