<div id="map_selection"> 
  <button class="unselected activitybutton" id="hiking">Hiking</span>
  <button class="unselected activitybutton" id="swimming">Swimming</span>
  <button class="unselected activitybutton" id="sledding">Sledding</span>
</div>
<div id="map_canvas">

</div>