<div id="map_selection"> 
  <button class="unselected activitybutton" id="hiking">Hiking</button>
  <button class="unselected activitybutton" id="swimming">Swimming</button>
  <button class="unselected activitybutton" id="sledding">Sledding</button>
  <button class="unselected activitybutton" id="baseball">Baseball/Softball</button>
  <button class="unselected activitybutton" id="cross-country_skiing">Cross-Country Skiing</button>
  <button class="unselected activitybutton" id="fishing">Fishing</button>
  <button class="unselected activitybutton" id="picnicking">Picnicking</button>
  <button class="unselected activitybutton" id="soccer">Soccer</button>
  <button class="unselected activitybutton" id="biking">Biking</button>
  <button class="unselected activitybutton" id="ice skating">Ice Skating</button>
  <button class="unselected activitybutton" id="play_equipment">Play Equipment</button>
  <button class="unselected activitybutton" id="basketball">Basketball</button>
  <button class="unselected activitybutton" id="boat_rental">Boat Rental</button>
  <button class="unselected activitybutton" id="tennis">Tennis</button>
  <button class="unselected activitybutton" id="volleyball">Volleyball</button>




 
</div>
<div id="map_canvas">

</div>