     /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
     #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
       margin-top: 0 !important;
     }
     
     /* map */
     .container-empty.container-empty-1 {
       width: 684px;
       height: 591px;
       position: absolute;
       top: 121px;
       left: 287px;
     }
     
     
     /* bottom under nav */
     .container-empty.container-empty-2 {
       background: #055b2e url(GetOutside-Bottom-08.png) repeat 0px -20px;
       background-size: auto;
       width: 275px;
       height: 91px;
       position: absolute;
       top: 620px;
       left: 11px;
     }
     /* check box container*/
     div .checkbox.checkbox-1 {
       margin: 0px 0px 5px 40px;
       color: #5b452d;
     }
     div p.p-1 {
       margin: 20px 0px 10px 40px;
       color: #5b452d;
     }
     div p.p-2 {
       font-size: 10px;
       line-height: 20px;
       margin: 0px 20px 10px 40px;
       color: #5b452d;
     }
     div.div-1 {
       background: #eae3d3 url(GetOutside-SideBar-gradient-07.png) repeat 0px 0px;
       background-size: auto;
       width: 275px;
       height: 500px;
       position: absolute;
       top: 120px;
       left: 11px
     }
     #absolute-wrapper {
       position: relative;
       width: 980px;
       /* centers the document */
       margin: 0 auto;
       /* hack to stick to top of page */
       height: 1px;
     }
     
   /* header */  
     .container {
       background: rgba(0, 0, 0, 0) url(GetOutside-banner-gradient-06.png) repeat 0px 0px;
       background-size: auto;
       height: 119px;
       width: 959px;
     }
     
      /* katie's first attempt at css...might not work */
           
     .selected {
      color: #055B2E;
      font-weight: bold;
     }
   
    .cartodb-popup-content h2 {
    	font-size: 14px;
    	line-height: 20px;
    	font: arial;
    }
    
    .cartodb-popup-content h3 {
    	font-size: 10px;
    	line-height: 15px;
    	font: arial;
    }
    
    .cartodb-popup-content h5 {
    	font-size: 10px;
    	line-height: 15px;
    	font: arial;
    }
    
   #infoanchor { 
    	color: #055B2E;
    }
    
     #infoanchor2 { 
    	color: #055B2E;
    }
    body {
      background-color:#EFE9DF;
    }